* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FAFAFA;
}

.card {
  cursor: pointer;
}

.back {
  height: 120vh;
  background-color: #FAFAFA;
}

.hero {
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav .logo {
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 24px;
  margin-right: 21px;
  color: white;
  transition: 200ms all;
}

.nav .logo:first-child {
  padding-right: 20rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.nav .logo:nth-child(6) {
  padding-left: 5rem;
  display: inline-block;
  overflow: hidden;
  font-size: 1.2rem;
}

.nav .logo:last-child i {
  font-size: 1rem;
}

.nav .g-h:hover {
  opacity: 0.7;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2 {
  position: absolute;
  top: 170px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 80px;
  /* or 138% */
  margin-top: rem;
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #FFFFFF;
}

.content h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 30px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #FFFFFF;
  position: absolute;
  top: 350px;
}

.content .btnHeader {
  position: absolute;
  top: 450px;
}

.three {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.threes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0px;
  background-color: white;
  position: static;
  width: 300px;
  height: 180.53px;
  left: calc(50% - 329px/2 - 0.5px);
  top: 0px;
  padding: 30px;
  box-sizing: border-box;
  border: none;
  transition: 200ms all;
}

.threes:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

.threes .vec {
  width: 4rem;
  height: 4rem;
}

.threes .hh4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  /* text-color */
  color: #252B42;
}

.threes p {
  opacity: 0.5;
}

.threes:hover {
  background-color: #23A6F0;
  color: white;
}

.threes:hover .vec {
  filter: opacity(0.1) drop-shadow(0 0 0 white);
}

.threes:hover p {
  opacity: 1;
}

.body-3 {
  padding-top: 30px;
  height: 43.5rem;
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.body-3 .b-3 {
  margin: auto 0px;
  display: inline-block;
  width: 300px;
  height: 180px;
  left: calc(50% - 328px/2 - 359px);
  padding: 0px 30px;
  transition: 500ms all;
}

.body-3 .b-3 img {
  cursor: pointer;
}

.body-3 .b-3 :nth-child(2) {
  cursor: pointer;
}

.body-3 .b-3 p {
  cursor: pointer;
}

.body-3:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.member {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 100px 200px;
  background-color: #FAFAFA;
}

.member .indus h4 {
  font-size: 30px;
  color: #201010;
  padding-bottom: 50px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.member .indus p {
  font-size: 16px;
  padding-bottom: 80px;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
}

.member-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member #profile {
  width: 297px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.member #profile:nth-child(2) {
  margin-right: 35px;
  margin-left: 35px;
}

.member #profile .card-body h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.member img {
  width: 149px;
  height: 149px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.member .stars ul {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
}

.member .stars ul img {
  display: none;
}

.member .stars ul input {
  display: none;
}

.member .stars ul label {
  cursor: pointer;
}

.member .stars .box {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 200ms all ease-in;
  flex-direction: row-reverse;
}

.member .stars .box .hovc:hover {
  color: #f1c40f;
}

.member .stars .a1:hover ~ li {
  color: #f1c40f;
}

.member .stars .a2:hover ~ li {
  color: #f1c40f;
}

.member .stars .a3:hover ~ li {
  color: #f1c40f;
}

.member .stars .a4:hover ~ li {
  color: #f1c40f;
}

.member .stars .a5:hover ~ li {
  color: #f1c40f;
}

.emailCon {
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailCon a {
  display: block;
}

.emailCon .email {
  width: 950px;
  height: 70px;
  background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.emailCon .bord {
  border: 1px solid #FAFAFA;
  border-radius: 2px;
  position: relative;
  padding: 20px auto;
}

.emailCon .bord .search {
  border: none;
  padding-left: 10px;
  width: 400px;
  height: 42px;
  color: white;
  opacity: 0.8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.emailCon .bord .emailbtn {
  background: #23A6F0;
  padding-right: 10px;
  width: 100px;
  height: 42px;
  position: absolute;
  right: 0px;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.emailCon .content-search {
  color: white;
  opacity: 0.8;
  font-size: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  background-color: #FAFAFA;
}

.product a img {
  display: block;
  width: 75px;
  height: auto;
  padding-top: 50px;
  margin-right: 75px;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.pricingContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 30px;
}

.pricingContent h4 {
  padding-bottom: 8px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.pricingContent p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.pricingTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 30px;
  position: static;
  width: 327px;
  height: 480px;
  left: 1px;
  top: 0px;
  /* text-color */
  background: #252B42;
  /* primary-color */
  color: #FFFFFF;
  border: 1px solid #23A6F0;
  box-sizing: border-box;
  border-radius: 10px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin-bottom: 14px;
  margin-left: 1px;
  margin-right: 1px;
}

#pbox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  width: 327px;
  height: 465px;
  left: 0px;
  top: 0px;
  /* light-background-color */
  background: #FFFFFF;
  /* primary-color */
  border: 1px solid #23A6F0;
  box-sizing: border-box;
  border-radius: 10px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;
}

.pricingBox {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.pricingBox h4 {
  padding-top: 20px;
  font-size: 30px;
}

.pricingBox p {
  padding: 20px 0px;
  font-size: 15px;
}

.pricingBox ul {
  list-style: none;
}

.pricingBox ul :nth-child(4) i {
  color: gray;
}

.pricingBox ul :nth-child(5) i {
  color: gray;
}

.pricingBox ul :first-child {
  margin-top: 10px;
}

.pricingBox li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1, 5px;
  font-weight: 500;
}

.pricingBox li i {
  display: inline-block;
  color: yellowgreen;
  padding-right: 5px;
  padding-bottom: 8px;
}

.pricingBox .btn {
  width: 110px;
  height: 35px;
}

.prc {
  position: relative;
}

.prc h4 {
  font-size: 40px;
  padding: 0 10px;
  color: #23A6F0;
}

.prc :nth-child(2) {
  position: absolute;
  top: -30px;
  right: -4px;
  font-size: 50;
  font-weight: 700;
  color: #23A6F0;
}

.prc :nth-child(3) {
  position: absolute;
  bottom: -25px;
  right: -43px;
  font-size: 10px;
  font-weight: 100;
  color: #23A6F0;
}

.maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#252B42, 70%, #FAFAFA 50%);
}

.maps img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.maps .mapcon {
  padding: 0px 200px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #FFFFFF;
}

.maps .mapcon h4 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 10px 150px;
  padding-top: 50px;
}

.maps .mapcon p {
  padding: 0px 150px;
  text-align: left;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.maps .form {
  margin-left: 100px;
  padding-top: 100px;
}

.maps #for {
  width: 550px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 100px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.maps #for button {
  margin-top: 40px;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
}

.maps #for #exampleInputEmail1 {
  display: block;
  margin-bottom: 20px;
}

#wh {
  padding-top: 70px;
}

#wh button {
  height: 35px;
}

#wh #sub {
  padding-bottom: 70px;
}

#wh #sub h4 {
  font-size: 20px;
}

#wh #sub p {
  color: #686970;
  font-size: 14px;
  opacity: 0.8;
}

.footer {
  background-color: white;
  padding-top: 70px;
}

.footer ul {
  list-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  cursor: pointer;
  letter-spacing: 0.1px;
  /* text-color */
  color: #252B42;
}

.footer li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 171% */
  padding-top: 5px;
  letter-spacing: 0.2px;
  /* second-text-color */
  color: #737373;
}

.footer .foot i {
  color: blue;
  padding-right: 10px;
}

#done {
  padding: 0px 130px;
}
/*# sourceMappingURL=main.css.map */